'.source.maplescript':
  'makevar':
    'prefix': 'mk'
    'body': '(make ${1:name} ${2:value})'

  'makefn':
    'prefix': 'mkfn'
    'body': """
      (make ${1:name} [${2:params}]
        ${3:body})
    """

  'makeof':
    'prefix': 'mkof'
    'body': """
      (make ${1:name}
        (of [${2:params}] ${3:body})
        (of [${4:params}] ${5:body})
        (of [${6:params}] ${7:body}))
    """

  'fn':
    'prefix': 'fn'
    'body': """
      (fn [${1:params}]
        ${2:body})$0
    """

  'if':
    'prefix': 'if'
    'body': """
      (if
        ${1:test}
          ${2:then}
        ${3:else})
    """

  'attempt':
    'prefix': 'attempt'
    'body': """
      (attempt ${1::channel}
        (do
          ${2:body}))
    """

  'handle':
    'prefix': 'handle'
    'body': """
      (handle ${1::channel}
        (fn [${2:params}]
          ${3:body}))
    """

  'contextchain':
    'prefix': '->'
    'body': """
      (-> (${1:begin} ${2:arg})
          (@${3:method} ${4:arg}))
    """
